h2{
   color : rgb(22, 29, 29);
   padding-left: 500px;
   
   
}
h3{
   color:darkgray;
   text-align: right;
   
   

}
h1{
   color: black;
   text-align: center;
   background-color: white;
}
img{
   display: block;
   margin: 0 auto;
}
p{
   text-align: center;

}
div{
   background-color: gainsboro;
}
#parrafos{
   display:inline ;
}
.post{
   width: 500px;
   display: flex;
   justify-content: center;
}